= simple_form_for(@project.tasks, url: project_add_task_path(@project)) do |f|
  = f.error_notification
  = render 'tasks/task_fields', f: f
  %br
  = f.submit class: 'submit-task-from-project-page btn btn-primary', disabled: true
  %span.btn.cancel_new_task Cancel