= simple_form_for(@project.tasks, url: project_add_task_path(@project)) do |f|
  = f.error_notification
  = render 'tasks/task_fields', f: f
  %br
  = f.submit class: 'btn btn-primary'
  %span.btn.cancel_new_task Cancel